body{
    background-color:  cyan;
    
}
#main img{
    height: 170px;
    width: 270px;
    
    
}


form{
    text-align: center;
}
    label{
        cursor: pointer;
        display: inline-block;
        padding: 3px 6px;
        text-align:  right;
        width: 150px;
        vertical-align: top;
    }

    .card {
        /* text-align: center; */
        border: grey solid 1px;
        padding: 1rem;
        /* width: 15rem; */
        /* height: 25rem; */
        /* display: inline-grid; */
        margin: 1rem 2rem;
        box-shadow: 3px 4px #4bcce0;
      }

      div.card{
            background-color: white;
            float:left;
            animation: myAnim 2s ease 0s 1 normal forwards;
            
            }
      
            @keyframes myAnim {
                0% {
                    transform: scale3d(1, 1, 1);
                }
            
                30% {
                    transform: scale3d(1.25, 0.75, 1);
                }
            
                40% {
                    transform: scale3d(0.75, 1.25, 1);
                }
            
                50% {
                    transform: scale3d(1.15, 0.85, 1);
                }
            
                65% {
                    transform: scale3d(0.95, 1.05, 1);
                }
            
                75% {
                    transform: scale3d(1.05, 0.95, 1);
                }
            
                100% {
                    transform: scale3d(1, 1, 1);
                }
            }
   
